<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 
  <connectionStrings>
    <add name="currentDB" connectionString="Production" />
    <add name="Test" connectionString="ADLUmPaQbfqTmoCnWO9V+OVCl6YvpDg4DFMlIQHkBWRHBUNN0WSaQuJhY1vmR3k3gOBL9PD4h+8KSm70FhTZUjOAFDxJXDE8a1GApLc1UOIz70a2FZKnznOtBHwVMSRy4yLRh4DfSmQX8SiSQA46sSnRyVVuB8fc" />
    <add name="Training" connectionString="ADLUmPaQbfqTmoCnWO9V+OVCl6YvpDg4DFMlIQHkBWRHBUNN0WSaQuJhY1vmR3k3gOBL9PD4h+8KSm70FhTZUjOAFDxJXDE8a1GApLc1UOIz70a2FZKnznOtBHwVMSRy4yLRh4DfSmQX8SiSQA46sSnRyVVuB8fc" />
    <add name="Production" connectionString="ADLUmPaQbfqtdQ8cx0uZp9ciopJqKTDflAnKjQhg3b+60NQrlg4uE5iKV7upf9dt0u2jQBwainfyUGrML1jomZLEIZ1wCoZdd5ZRi+rpmGFFZcg3CczTvu2dcqj4DreoDlb7e/cZMao+6rMMgOKLvwU8Ubgd2rh2" />
 
  </connectionStrings>
  <appSettings>
    <add key="SiteClose" value="" />
    <add key="Application" value="LTO" />
    <add key="ApplicationName" value="LTO Assignments" />
    <add key="DefaultPage" value="Page" />
    <add key="Registry" value="Registry" />
    <add key="DataSource" value="Class" />
    <add key="ReportSource" value="WebService" />
    <add key="SPFile" value=""/>
    <!--<add key="SPFile" value="Content\DataAccess.json"/>-->
    <add key="AuthenticateService" value="http://webs/AuthenticationWS/Authenticate.asmx" />
    <add key="AuthenticateMethod" value="NameOnly" />
    <add key="SorryNoP" value="You do not have permission to run this application." />
    <add key="Pending" value="You are current in Pending List. You has no permssion to apply any position posting." />
    <add key="LoginMessage" value="Error Authenticating. Error authenticating user. Logon failure: unknown user name or bad password" />
    <add key="LoginMessageDB" value="Error Login Database. Connect to Database failure: Login Count or Return Data Error." />
    <add key="CohortChartNum" value="4" />
    <add key="DefaultComments" value="Yes" />
    <add key="Summative" value="SummativeEXP" />
    <add key="errorPage" value="../CommonPages/errorF.aspx" />
    <add key="errorStore" value="NoNSMTP" />
    <add key="CreateErrorPage" value="Yes" />
    <add key="ElementaryPanel" value="02,03,04" />
    <add key="K_12School" value="0556,0524,0518" />
    <add key="AppStartDate" value="2017/06/20" />
    <add key="AppStartDateLTO" value="2020/08/11" />
    <add key="AppStartDatePOP" value="2020/06/30" />
    <add key="ApplicationModel" value="ProductionCheck" />
    <add key="DocumentLink" value="https://webapp.tcdsb.org/WebDocuments/Documents/LTO/" />
    <add key="AppsInfoLink" value="http://webt01.tcdsb.org/QA/AppsInfo/Default.aspx" />
    <add key="ReportingService" value="http://webservice.tcdsb.org/ReportServer/ReportExecution2005.asmx" />
    <add key="ReportServer" value="http://webservice.tcdsb.org/ReportServer" />
    <add key="WebServiceUser" value="service_cecweb" />
    <add key="WebServiceWP" value="$C3C@W3b#" />
    <add key="ReportPath" value="?%2fLTO_Report%2f" />
    <add key="ReportPathWS" value="/LTO_Report/" />
    <add key="ReportPathHTML" value="?%2fSES_Reports%2fIEP%2f" />
    <add key="ReportFormat" value="PDF" />
    <add key="HM31" value="https://www.tcdsb.org/Board/Policies/Pages/HM31.aspx" />
    <add key="HM40" value="https://www.tcdsb.org/Board/Policies/Pages/HM40.aspx" />
    <add key="MobileSiteGo" value="https://webt.tcdsb.org/qt/LTO/LTOPrincipals/LoadingP.aspx" />
    <add key="AttachmentFolder" value="Attfiles" />
    <add key="iConFile" value="./images/" />
    <add key="TrafficLog" value="1" />
    <add key="LDAP" value="LDAP://tcdsb.org/DC=tcdsb,DC=org" />
    <add key="LDAP1" value="LDAP://10.1.0.5:389" />
    <add key="SMTPServer" value="intramail.tcdsb.org" />
    <!--<add key="eMailSender" value="LTO/POP-Admin@tcdsb.org" />-->
    <add key="PostingNoticeBegin" value="1" />
    <add key="PrincipalEmailNotice" value="Yes/No" />
    <add key="PrincipalRequestLTO" value="Yes" />
    
    <add key="eMailTry" value="Test" />
    <add key="eMailTitle" value="" />
    <add key="eMailTO" value="" />
    <add key="eMailToCheck" value="margherita.difonzo@tcdsb.org" />
    <add key="LTOadminFolder" value="lto.admin@tcdsb.org" />
    <add key="eMailSender" value="LTOPOP.Admin@tcdsb.org" />
    <add key="HRUser_LTO_Default" value="frijiom" />
    <add key="HRUser_POP_E_Default" value="krasnor" />
    <add key="HRUser_POP_S_Default" value="boreanf" />
    <add key="eMail_Union" value="" />
    <add key="eMail_UnionA" value="mary.frijio@tcdsb.org" />
    <add key="eMail_UnionE" value="info@tect.org" />
    <add key="eMail_UnionS" value="tsuot@tsuoecta.org" />
    <add key="eMailCC" value="" />
    <add key="eMailCC_CancelFollower" value="mary.frijio@tcdsb.org" />
    <add key="eMailCC_ConfirmHire_LTO" value="mary.frijio@tcdsb.org" />
    <add key="eMailCC_ConfirmHire_LTO_E" value="angie.roman@tcdsb.org" />
    <add key="eMailCC_ConfirmHire_LTO_S" value="" />
    <add key="eMailCC_ConfirmHire_POP" value="margherita.difonzo@tcdsb.org" />
    <add key="eMailCC_ConfirmHire_POP_E" value="angie.roman@tcdsb.org" />
    <add key="eMailCC_ConfirmHire_POP_S" value="" />
    <add key="eMailCC_LTO" value="mary.frijio@tcdsb.org" />
    <add key="eMailCC_LTO_E" value="" />
    <add key="eMailCC_LTO_S" value="" />
    <add key="eMailCC_POP" value="joanne.ruscica@tcdsb.org" />
    <add key="eMailCC_POP_E" value="joanne.ruscica@tcdsb.org" />
    <add key="eMailCC_POP_S" value="laura.Angilletta@tcdsb.org" />
    <add key="eMailCC_French" value="joanne.malenica@tcdsb.org" />
    <add key="eMailCC_French1" value="" />
    <add key="eMailCC_French_E" value="angela.ramos@tcdsb.org" />
    <add key="eMailCC_French_S" value="maria.marchetta@tcdsb.org" />
    <add key="eMailCC_DHH" value="Andrea.Coke@tcdsb.org" />
    <add key="eMailCC_Music" value="" />
    <!--<add key="eMailCC_Music" value="mireya.martin@tcdsb.org"/> remove by Frank request by Mary at 2018/08/21 -->
    <add key="eMailCC_4th" value="jelena.malenica@tcdsb.org;angela.ramos@tcdsb.org"/>
    <add key="eMailCC_4th_E" value="joanne.ruscica@tcdsb.org"/>
    <add key="eMailCC_4th_S" value="jelena.malenica@tcdsb.org"/>
    <add key="User_4thRound" value=";malenij,marchem,ferreia05,ramosa" />
    <add key="eMailBCC" value="" />
    <add key="HM40" value="Pass" />
    <add key="eMailFooter" />
    <add key="eMailTemplate" value="c:/Application_Web/Template" />
    <add key="RapidKeyActiveOrigal" value="OkEoT2IrRUBFL0xETUxINWttck1LOFlRYT8sRUZGSkY=" />
    <add key="RapidKey" value="277577257E7D7B217D2A7B7B51514D4F243B3B3B393D3F413D43434341454749436C5C5E6E493" />
    <add key="RapidKeyNoLimited" value="277577257E7D7B217D2A7B7B51514D4F243B3B3B393D3F413D43434341454749436C5C5E6E493" />
    <add key="PrincipalQuikLink" value="No" />
    <add key="TaxonomyWebService.TaxonomyClientService" value="http://www.tcdsb.org/_vti_bin/TaxonomyClientService.asmx" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="RemoteOnly" />
    <!--<httpCookies httpOnlyCookies="true"  requireSSL="true"  />-->
    <pages theme="Theme1" styleSheetTheme="Theme1" controlRenderingCompatibilityVersion="4.0" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--
        <add assembly="office, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.Vbe.Interop, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="logon.aspx" name="adAuthCookieBIP" timeout="60" path="/" />
      <!--<forms loginUrl="logon.aspx" name="adAuthCookieBIP" timeout="10" path="/"  requireSSL="true" />-->
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <sessionState mode="InProc" cookieless="false" timeout="60" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpModules />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="GetDeadLineDate">
        <endpoint address="" behaviorConfiguration="GetDeadLineDateAspNetAjaxBehavior" binding="webHttpBinding" contract="GetDeadLineDate" />
        <endpoint address="" behaviorConfiguration="GetDeadLineDateAspNetAjaxBehavior" binding="webHttpsBinding" contract="GetDeadLineDate" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="GetDeadLineDateAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBinding">
          <security mode="None" />
        </binding>
        <binding name="webHttpsBinding">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>