<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TCDSB.Student.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <TCDSB.Student.My.MySettings>
            <setting name="TCDSB_Student_SLIPData_ReportingWebServiceR2_ReportExecutionService"
                serializeAs="String">
                <value>http://webservice.tcdsb.org:80/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="TCDSB_Student_SLIPData_PublishDocToSP_PublishDocToSP"
                serializeAs="String">
                <value>http://webservice.tcdsb.org/DocumentToSPSite/PublishDocToSP.asmx</value>
            </setting>
            <setting name="TCDSB_Student_SLIPData_PublishDocumentToSPSite_PublishDocToSP"
                serializeAs="String">
                <value>http://webservice.tcdsb.org/DocumentToSPSite/PublishDocToSP.asmx</value>
            </setting>
        </TCDSB.Student.My.MySettings>
    </applicationSettings>
</configuration>
