

table {
    font-size: x-small;
    font-family: Arial;
    color: Black;
    border: 0px;
    border-style: none;
    border-collapse: collapse;
    border-spacing: 0px;
    border-width: 0px;
    padding: 0px;
}

tr {
    border-style: none;
    border-spacing: 0px;
    border-width: 0px
}

td {
    border-style: solid;
    border-spacing: 0px;
    border-width: 0px;
}

.TableFont1 {
    font-size: small;
    font-family: Arial;
    color: Black;
    height: 100%;
    width: 100%;
}

.TableFont1B {
    font-size: small;
    font-family: Arial;
    color: Black;
    height: 100%;
    width: 100%;
    border: 1px solid Gray;
}

.TableFont2 {
    font-size: x-small;
    font-family: Arial;
    color: Black;
    height: 100%;
    width: 100%;
}




.TableBlank {
    font-size: x-small;
    font-family: Arial;
    color: Black;
    height: 100%;
    width: 100%;
    background-image: url(images/message_body_m.bmp);
}

.TableFont1B {
    font-size: x-small;
    font-family: Arial;
    color: Black;
    background-image: url(images/MessageLB.bmp);
}

.TableTab {
    font-size: xx-small;
    font-family: Arial;
    border-right: solid;
    border-top: 0px;
    border-left: solid;
    border-bottom: solid;
    border-width: thin;
}

#AnswerC table {
    border-width: thin;
    border-style: solid;
    border-color: Yellow;
    font-size: small;
    font-family: Arial;
    color: Black;
    height: 100%;
    width: 100%;
}
