<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Applied the open Position Email confirmation Notification</title>
</head>
<body>


    <table id="tblContent" style="width:750px; border: outset lightgrey 0pt">
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>


                <div style="text-align: center">
                    <h3>   Confirmation for Permanent Open Position Application </h3>
                </div>
                <div id="EmailBody">


                    Dear   <span style=" font-weight:bolder">[TeacherNameSTR]</span>:
                    <br />
                    <br />
                    <div>
                        <p> Please be advised that the following information related to the TCDSB Policy on Fair Practice in Hiring and Promotion and Conflict of Interest is for your immediate attention.</p>

                        <p>
                            <b style="text-decoration:underline ">  TCDSB POLICY REGISTER-FAIR PRACTICE IN HIRING AND PROMOTION H.M.40 </b>
                            <br /> <b style="text-decoration:underline ">  Policy: </b>
                            The TCDSB is committed to hiring and promoting the best, most qualified individuals supportive of
                            its Multi Year Strategic Plan, subject to its denominational rights and in accordance with
                            the Ontario Human Rights Code. The application, interview, hiring and promotion of individuals
                            at TCDSB will be based on ability and qualifications and will be conducted in a fair and transparent
                            manner, free from discrimination, nepotism and cronyism.
                        </p>

                        <p>
                            <b style="text-decoration:underline ">  TCDSB Policy Register-Conflict of Interest: Employees H.M.31</b>
                            <br /> <b style="text-decoration:underline "> Principle: </b> The Toronto Catholic District School Board also recognizes that a high standard is
                            expected of a public body where the employment, contractual, and purchasing requirements may
                            vary widely, and are spread throughout many departments and schools.  It is essential that staff maintain,
                            and are perceived to maintain, the highest standard of public trust and integrity.

                            <br /> <b style="text-decoration:underline "> Policy: </b> Toronto Catholic District School Board expects, consistent with the teachings of Jesus Christ, that employees
                            will at all times conduct themselves with personal integrity, ethics, honesty and diligence in the performance of their duties.
                            Employees are expected to support and act in the best interest of the Board. Employees are therefore expected either:

                            <ul>
                                <li>to avoid, as far as practicable, placing themselves in situations in which their personal interests may actually or potentially conflict with the interest of the Board, or </li>
                                <li>at any and all times and places and regardless of whether engaged in or on or about Board business, to take all reasonable steps to avoid the exercise of any influence on Board decisions in which they have personal interest.</li>
                            </ul>

                            <b style="text-decoration:underline "> Regulation:</b> 1.1 the interest, direct or indirect, of the spouse of an employee, or of a parent, sibling or child
                            of an employee or the spouse of any of them, shall, if known to the employee, be deemed to be also the interest of the employee;
                        </p>

                    </div>
                    <br />
                    Thank you for your application for the positions advertised.  Your submission will be reviewed by the Human Resources Department based on the following criteria as per Regulation 274/12:
                    <br />
                    <br />(a)	Have completed a minimum of one(1) LTO assignment in a school of the board that was at least four months in duration, and whose last evaluation resulted in a satisfactory rating.
                    <br />(b)	Have the required qualifications for the position;
                    <br />(c)	Have the highest ranking under section 2;(ranking of occasional teachers based on teacher&#146;s seniority as an occasional teacher)
                    <br />(d)	Have agreed to be interviewed
                    <br /><br />
                    If you meet the criteria as outlined in a-c, your name will be forwarded directly to the principals with the open position you have selected.
                    Note, only those teachers who meet the criteria above will be contacted for an interview by the school principal.
                    <br />
                    <br />
                    Human Resources Department

                    <br />
                    <br />
                    <br />

                    *  Posting Number: <span style="text-decoration: underline; font-weight:bolder">[PostingNumberSTR]  </span><br />
                    *  Position Title: <span style="text-decoration: underline; font-weight:bolder">[PositionTitleSTR] </span><br />
                    *  Position Description: <span style="text-decoration: underline; font-weight: bolder">[PositionDescriptionSTR]</span> <br />
                    *  Position Date: <span style="text-decoration: underline; font-weight:bolder">  [PositionDateSTR]</span><br />
                    *  Position School: <span style="text-decoration: underline; font-weight:bolder">[SchoolNameSTR]</span> <br />
                    *  Position FTE: <span style="text-decoration: underline; font-weight:bolder">[BTCSTR]</span> <br />


                    <br />
                    [timeTable]
                    [multiSchool]
                    <br />

                </div>

                <br />
                <br />

                <br />
                LTO/POP Hiring Process Emailing System.<br /> <br />
                [DateTimeSTR]<br />
                <br />
                <!-- <span style="font-size: 10pt">Note: Please reply back!.</span></td>-->
                <br />
                {{EmailTOSTR}} <br />
                {{EmailCCSTR}} <br />
                {{EmailBCCSTR}} <br />

            </td>

        </tr>

    </table>




</body>
</html>

