<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hired Confirm Notification</title>
</head>
<body>


    <table id="tblContent" style="width: 750px; border: outset lightgrey 0pt">
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>

                <div style="text-align: center">
                    <h2>Hired Confirm Notification </h2>
                </div>
                <div id="EmailBody">
                    Dear
                    <span style="  font-weight: bolder">{{PrincipalNameSTR}}  </span>
                    <br />
                    <br />
                    This email confirms that <span style="text-decoration: underline; font-weight: bolder">{{TeacherNameSTR}} {{TeacherCPNumSTR}}</span>
                    has  been hired
                    for the <span style="text-decoration: underline; font-weight: bolder">{{PositionTitleSTR}} </span>
                    &nbsp; <span style="text-decoration: underline; font-weight: bolder">{{PositionTypeSTR2}} </span> ,
                    at <span style="text-decoration: underline; font-weight: bolder">{{PositionSchoolSTR}}</span>.
                    The {{PositionTypeSTR2}} will begin on <span style="text-decoration: underline; font-weight: bolder"> {{PositionStartDateSTR}}</span> .

                    <br />
                    <br />
                    <!--* Position Description: <span style="text-decoration: underline; font-weight: bolder">{{PositionDescriptionSTR}}</span>   <br />-->
                    * Position Qualification: <span style="text-decoration: underline; font-weight: bolder">{{QualificationSTR}}</span>   <br />
                    * Position Posted at: <span style="text-decoration: underline; font-weight: bolder">{{PositionPostedSTR}}</span> <br />
                    * Position FTE: <span style="text-decoration: underline; font-weight:bolder">{{BTCSTR}} </span> <br />
                    * Posting Number: <span style="text-decoration: underline; font-weight:bolder">{{PostingNumberSTR}} </span> <br />
                    <!--* Posting Round: <span style="text-decoration: underline; font-weight:bolder">{{PostingCycleSTR}} </span> <br />-->

                    <br />
                    <br />

                    <br />
                </div>
                <br />
                {{FormReminderLine}}
                <br />

                <br />
                <span style="font-weight: bolder"> {{ConfirmPersonSTR}}</span>
                <br />    
                Academic Services:<br />
                <br />
                <span> {{DateTimeSTR}}</span>
                <br />

                {{EmailTOSTR}}
                <br />
                {{EmailCCSTR}}
                <br />
                {{EmailBCCSTR}}
            </td>
        </tr>

    </table>




</body>
</html>
