<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Selected the Teacher for the interview </title>
</head>
<body>


    <table id="tblContent" style="width: 750px; border: outset lightgrey 0pt">
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>



                <div id="EmailBody">
                    Dear   <span style="text-decoration: underline; font-weight: bolder">[PrincipalNameSTR]  </span>:
                    <br />

                    <div>
                        <p>
                            Please be advised that the following information related to the TCDSB Policy on
                            Fair Practice in Hiring and Promotion and Conflict of Interest is being brought
                            to your immediate attention prior to engaging in interviewing the list of eligible
                            candidates for the position at your school.
                        </p>
                        <p>
                            <b style="text-decoration:underline ">  TCDSB POLICY REGISTER-FAIR PRACTICE IN HIRING AND PROMOTION H.M.40 </b>
                            <br /> <b style="text-decoration:underline ">  Policy: </b>
                            The TCDSB is committed to hiring and promoting the best, most qualified individuals supportive of
                            its Multi Year Strategic Plan, subject to its denominational rights and in accordance with
                            the Ontario Human Rights Code. The application, interview, hiring and promotion of individuals
                            at TCDSB will be based on ability and qualifications and will be conducted in a fair and transparent
                            manner, free from discrimination, nepotism and cronyism.
                        </p>

                        <p>
                            <b style="text-decoration:underline ">  TCDSB Policy Register-Conflict of Interest: Employees H.M.31</b>
                            <br /> <b style="text-decoration:underline "> Principle: </b> The Toronto Catholic District School Board also recognizes that a high standard is
                            expected of a public body where the employment, contractual, and purchasing requirements may
                            vary widely, and are spread throughout many departments and schools.  It is essential that staff maintain,
                            and are perceived to maintain, the highest standard of public trust and integrity.

                            <br /> <b style="text-decoration:underline "> Policy: </b> Toronto Catholic District School Board expects, consistent with the teachings of Jesus Christ, that employees
                            will at all times conduct themselves with personal integrity, ethics, honesty and diligence in the performance of their duties.
                            Employees are expected to support and act in the best interest of the Board. Employees are therefore expected either:

                            <ul>
                                <li>to avoid, as far as practicable, placing themselves in situations in which their personal interests may actually or potentially conflict with the interest of the Board, or </li>
                                <li>at any and all times and places and regardless of whether engaged in or on or about Board business, to take all reasonable steps to avoid the exercise of any influence on Board decisions in which they have personal interest.</li>
                            </ul>

                            <b style="text-decoration:underline "> Regulation:</b> 1.1 the interest, direct or indirect, of the spouse of an employee, or of a parent, sibling or child
                            of an employee or the spouse of any of them, shall, if known to the employee, be deemed to be also the interest of the employee;
                        </p>
                    </div>


                    <div style="text-align: center">
                        <h2>Interview Candidate List</h2>
                    </div>
                    <br />
                    The following 3 Occasional Teachers have applied for the open position at your school
                    and meet the criteria according to Regulation 274/12 to be interviewed.
                    Please ensure all candidates listed below are interviewed before a decision is made.
                    <br />
                    <br />
                    (a)	Have completed a minimum of one (1) LTO assignment that was a minimum of four (4) months in duration.
                    <br />
                    (b)	Have the required qualifications for the position;
                    <br />
                    (c)	Have the highest ranking under section 2;(ranking of occasional teachers based on teacher&#146;s seniority as an occasional teacher)
                    <br />
                    (d)	Have agreed to be interviewed
                    <br />
                    <br />

                    The three most senior applicants shall be contacted and asked to confirm that they wish to be considered
                    for the position. <b>The candidate should be able to provide you with an immediate response </b>.
                    If any of the three applicants indicate that they do not wish to be considered,
                    please reach out to Academic Services <b>[PositionOwnerSTR]</b> who
                    will provide you with the next most senior candidate to be considered.
                    Please contact the names of the occasional teachers and arrange an interview. Upon completion of your interview,
                    please submit your recommendation via <b>the on-line Permanent Open Positions Platform </b>
                    <br />


                    <br />
                    * Posting Number:[PostingNumberSTR]  <br />
                    * Position Title: [PositionTitleSTR] <br />
                    * School Name:[SchoolNameSTR]   <br />
                    * Position FTE: [BTCSTR] <br />
                    * Position Start Date: [PositionStartDateSTR]  <br />
                    [PostingOpenDateSTR]  <br />
                    [PostingCloseDateSTR]
                </div>
                <!-- <div style="text-align: center">
        <h3> Interview Candidate List  </h3>
    </div>-->
                <div>

                    [InterviewCandidateListSTR]

                </div>
                <br />
                <br />
                [appicationLinkSTR]
                <br />
                <br />
                Academic Services:<br />
                <br />
                [DateTimeSTR]<br />

                <br />
                {{EmailTOSTR}}
                <br />
                {{EmailCCSTR]}}

                <br />
                {{EmailBCCSTR}}
            </td>
        </tr>

    </table>




</body>
</html>
