<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hired confirmation </title>
</head>
<body>


    <table id="tblContent" style="width: 800px; border: outset lightgrey 0pt">
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>


                <div style="text-align: center">
                    <h2>Hired confirmation </h2>
                </div>
                <div id="EmailBody">
                    Dear   <span style="text-decoration: underline; font-weight: bolder">[OfficerNameSTR]  </span>:
                    <br />
                    <br />
                    The attached LTO/POP assignment has been confirmed.Please process the paperwork and submit to HR
                    <br />
                    <br />


                    <span style="  font-weight: bolder"> [ConfirmPersonSTR]</span>
                    <br />   Human Resources Department:
                    <br />
                    <br />
                </div>

                <div>

                    [ConfirmHiredPositionListSTR]

                </div>
                <br />


                <br />
                <br />
                Academic Services:<br />
                <br />
                [DateTimeSTR]<br />
                <br />
                <!-- <span style="font-size: 10pt">Note: Please reply back!.</span></td>-->
                <br />
                [EmailTOSTR]
                <br />
                [EmailCCSTR]

            </td>
        </tr>

    </table>




</body>
</html>
