<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Selected the Teacher for the interview </title>
</head>
<body>

    <table id="tblContent" style="width: 750px; border: outset lightgrey 0pt">
        <tr>
            <td>
                <p style="color:red;">PLEASE REVIEW NEW LTO HIRING PROCESS OUTLINED IN YELLOW BELOW </p>
            </td>
        </tr>
        <tr>
            <td>
                <div id="EmailBody">
                    <span style="text-decoration: underline; font-weight: bolder">[PrincipalNameSTR]</span>
                    <br />

                    <div>
                        <p>
                            Please be advised that the following information related to the TCDSB Policy on
                            Fair Practice in Hiring and Promotion and Conflict of Interest is being brought
                            to your immediate attention prior to contacting the list of eligible candidates for the position at your school.
                        </p>
                        <p>
                            <b style="text-decoration:underline ">  TCDSB POLICY REGISTER-FAIR PRACTICE IN HIRING AND PROMOTION H.M.40 </b>
                            <br /> <b style="text-decoration:underline ">  Policy: </b>
                            The TCDSB is committed to hiring and promoting the best, most qualified individuals supportive of
                            its Multi Year Strategic Plan, subject to its denominational rights and in accordance with
                            the Ontario Human Rights Code. The application, interview, hiring and promotion of individuals
                            at TCDSB will be based on ability and qualifications and will be conducted in a fair and transparent
                            manner, free from discrimination, nepotism and cronyism.
                        </p>

                        <p>
                            <b style="text-decoration:underline ">  TCDSB Policy Register-Conflict of Interest: Employees H.M.31</b>
                            <br /> <b style="text-decoration:underline "> Principle: </b> The Toronto Catholic District School Board also recognizes that a high standard is
                            expected of a public body where the employment, contractual, and purchasing requirements may
                            vary widely, and are spread throughout many departments and schools.  It is essential that staff maintain,
                            and are perceived to maintain, the highest standard of public trust and integrity.

                            <br /> <b style="text-decoration:underline "> Policy: </b> Toronto Catholic District School Board expects, consistent with the teachings of Jesus Christ, that employees
                            will at all times conduct themselves with personal integrity, ethics, honesty and diligence in the performance of their duties.
                            Employees are expected to support and act in the best interest of the Board. Employees are therefore expected either:

                            <ul>
                                <li>to avoid, as far as practicable, placing themselves in situations in which their personal interests may actually or potentially conflict with the interest of the Board, or </li>
                                <li>at any and all times and places and regardless of whether engaged in or on or about Board business, to take all reasonable steps to avoid the exercise of any influence on Board decisions in which they have personal interest.</li>
                            </ul>

                            <b style="text-decoration:underline "> Regulation:</b> 1.1 the interest, direct or indirect, of the spouse of an employee, or of a parent, sibling or child
                            of an employee or the spouse of any of them, shall, if known to the employee, be deemed to be also the interest of the employee;
                        </p>
                    </div>

                    <div style="text-align: center">
                        <h2 style="background-color:yellow" > Candidate List </h2>
                    </div>
                    <div>
                        <p style="background-color:yellow ">
                            The following Occasional Teachers from the Occasional Teachers Roster have applied for the 
                            Long Term Occasional Assignment
                            at your school and meet the criteria according to section 17.3.2.2 of the Central Terms. 
                        </p>
                        <p style="background-color:yellow ">
                            Enclosed please find the list of candidates that have applied to the <b>[PositionTitleSTR]</b>.
                            <b> Interviews are no longer required.</b>   The five most senior applicants shall be contacted and
                            asked to confirm that they wish to be considered for the position.
                            <b> The candidate should be able to provide you with an immediate response.</b>
                            Occasional Teachers are advised to respond to the principal of their decision by 12 noon 
                            on the following day that they have been contacted, if Occasional Teachers do not respond to 
                            the principal by 9am, it is understood that the Occasional is no longer interested in the assignment.
                        </p>  
                        <p  style="background-color:yellow ">
                            If any of the five applicants indicate that they do not wish to be considered, please reach out to
                            to Academic Services <b>[PositionOwnerSTR]</b> who will provide you with the next most senior candidate.
                        </p>
                        <p style="background-color:yellow ">
                            Once you have selected a candidate and the candidate has accepted, please enter the LTO Application
                            and "recommend hire". This will generate pay for the successful candidate.
                        </p>                     
                    </div>

                    <table border="1" style="width:750px">
                        <tr>
                            <td style="width:160px">Posting Number:</td>
                            <td style="width:150px">[PostingNumberSTR]</td>
                            <td style="width:150px"> </td>
                            <td style="width:50px">[PostingCycleSTR]</td>
                            <td style="width:100px;text-align:right;">BTC:</td>
                            <td style="width:100px">[BTCSTR]</td>

                        </tr>
                        <tr><td>Position Title:         </td><td colspan="5">[PositionTitleSTR]       </td></tr>
                        <tr><td>Position Description:   </td><td colspan="5">[PositionDescriptionSTR] </td></tr>
                        <tr><td>Position Start Date:    </td><td colspan="5">[PositionStartDateSTR]   </td></tr>
                        <tr><td>Position End Date:      </td><td colspan="5">[PositionEndDateSTR]     </td></tr>
                        <tr><td>Position School:        </td><td colspan="5">[SchoolNameSTR]          </td></tr>

                        [HRCommentsSTR]
                        [TeacherBeReplacedSTR]
                    </table>

                    <br />
                    [timeTable]
                    [multiSchool]
                    <br />
                </div>
                <!-- <div style="text-align: center">
        <h3> Interview Candidate List  </h3>
    </div>-->
                <div>
                    [PostingOpenDateSTR]    <br />
                    [PostingCloseDateSTR]
                </div>
                <div>

                    [InterviewCandidateListSTR]

                </div>


                <br />
                <br />
                [appicationLinkSTR]
                <br />
                <br />
                Academic Services:<br />
                <br />
                [DateTimeSTR]<br />
                <br />
                <!-- <span style="font-size: 10pt">Note: Please reply back!.</span></td>-->
                <br />
                {{EmailTOSTR}} <br />
                {{EmailCCSTR}} <br />
                {{EmailBCCSTR}} <br />

            </td>
        </tr>

    </table>




</body>
</html>
