<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title>Cancel Posted Position Notification</title>
</head>
<body>


    <table id="tblContent" style="width: 750px; border: outset lightgrey 0pt">
        <tr>
            <td>

                <div style="text-align: center">
                    <h2>Your Posting Has Been Cancelled </h2>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <!--<b> Due To: </b> <br />-->
                <span style="text-decoration: underline; font-weight: bolder"> [CancelCommentsSTR]  </span>
             
            </td>
        </tr>
        <tr>
            <td>

                <div id="EmailBody">
                    <br />
                    Dear   <span style="font-weight: bolder">[PrincipalNameSTR]  </span>:
                    <br />
                    <br />
                    This is to confirm the following posting has been cancelled.
                    If you have any questions, please contact [PositionOwnerSTR]

                    <br />
                    <br />

                    <table border="1" style="width:750px">
                        <tr>
                            <td style="width:160px">Posting Number:</td>
                            <td style="width:150px">[PostingNumberSTR]</td>
                            <td style="width:150px"> </td>
                            <td style="width:80px">[PostingCycleSTR]</td>
                            <td style="width:70px;text-align:right;">BTC:</td>
                            <td style="width:100px">[BTCSTR]</td>

                        </tr>
                        <tr><td>Position Title:         </td><td colspan="5">[PositionTitleSTR]     </td></tr>
                        <tr><td>Position Description:   </td><td colspan="5">[PositionDescriptionSTR] </td></tr>
                        <tr><td>Position Start Date:    </td><td colspan="5">[PositionStartDateSTR]   </td></tr>
                        <tr><td>Position End Date:      </td><td colspan="5">[PositionEndDateSTR]     </td></tr>
                        <tr><td>Position School:        </td><td colspan="5">[SchoolNameSTR]          </td></tr>
                        <tr><td>Teacher be replaced:    </td><td colspan="3">[TeacherBeReplacedSTR]   </td> <td>Person ID:</td><td> [PIDSTR] </td></tr>
                    </table>
                    <br />
                    [timeTable]
                    [multiSchool]

                    <br />

                    <br />
                    <br />
                    Academic Services:<br />
                    <br />
                    [DateTimeSTR]

                </div>

                <br />
                {{EmailTOSTR}} <br />
                {{EmailCCSTR}} <br />
                {{EmailBCCSTR}} <br />
            </td>
        </tr>

    </table>




</body>
</html>
