<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Re posting Notification </title>
</head>
<body>


    <table id="tblContent" style="width: 750px; border: outset lightgrey 0pt">
        <tr>
            <td>
                <div style="text-align: center">
                    <h2> Reposting Permanent Open Position Notification </h2>
                </div>
            </td>
        </tr>
        <tr>
            <td>

                <div id="EmailBody">
                    Dear   <span style="font-weight: bolder">[PrincipalNameSTR]  </span>:
                    <br />
                    <br />

                    Please note your posting for (
                    <span style="text-decoration: underline; font-weight: bolder">[PositionTitleSTR] </span>
                    ) has expired.
                    Regrettably there were no interested candidates and this posting will now be referred
                    to our Recruitment Department.


                    <br />
                    <!--If you have any questions, please contact [PositionOwnerSTR]-->
                    If you have any questions, please contact Angela Ramos of our Recruitment Department at ext. 2303
                    <br />
                    <table border="1" style="width:750px">
                        <tr>
                            <td style="width:160px">Posting Number:</td>
                            <td style="width:150px">[PostingNumberSTR]</td>
                            <td style="width:150px"> </td>
                            <td style="width:150px;text-align:right;">BTC:</td>
                            <td style="width:150px">[BTCSTR]</td>

                        </tr>
                        <tr><td>Position Title:         </td><td colspan="4">[PositionTitleSTR]       </td></tr>
                        <tr><td>Position Qualification:  </td><td colspan="4">[QualificationSTR]       </td></tr>
                        <tr><td>Position Description:   </td><td colspan="4">[PositionDescriptionSTR] </td></tr>
                        <tr>
                            <td>Position   </td>
                            <td style="text-align:right;">Start Date:</td>
                            <td colspan="3">[PositionStartDateSTR] </td>

                        </tr>
                        <tr>
                            <td>Position Posting </td>
                            <td style="text-align:right;">Open Date:</td>
                            <td>[PostingOpenDateSTR] </td>
                            <td style="text-align:right;">Close Date:</td>
                            <td>[PostingCloseDateSTR] </td>
                        </tr>

                        <tr><td>Position School:        </td><td colspan="4">[SchoolNameSTR]          </td></tr>

                    </table>


                    <br />
                    <br />
                    [timeTable]
                    [multiSchool]
                    <br />

                </div>
                <div>

                    [InterviewCandidateListSTR]

                </div>

                <br />

                <br />
                <br />  Academic Services:
                <br />
                [DateTimeSTR]<br />
                <br />
                <!-- <span style="font-size: 10pt">Note: Please reply back!.</span></td>-->
                <br />
                {{EmailTOSTR}}
                <br />
                {{EmailCCSTR]}}

                <br />
                {{EmailBCCSTR}}

                <br />
            </td>
        </tr>

    </table>




</body>
</html>
