<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Posting Notification </title>
</head>
<body>


    <table id="tblContent" style="width: 750px; border: outset lightgrey 0pt">
        <tr>
            <td>
                <div style="text-align: center">
                    <h2> Posting Position Notification </h2>

                </div>

            </td>
        </tr>
        <tr>
            <td>

                <div id="EmailBody">
                    Do Not Reply This Email Please !   <br /> <br />

                    Dear   <span style="font-weight: bolder">[PrincipalNameSTR]  </span>:
                    <br />
                    <br />

                    We are in receipt of your [PositionTypeSTR] Application and have posted the
                    <span style="text-decoration: underline; font-weight: bolder">[PositionTitleSTR] ( [BTCSTR] ) </span>
                    assignment as requested.This assignment will be posted for 3 days. On day 4, you will receive a list of candidates to be interviewed.
                    As a gentle reminder, all candidates must be interviewed before a decision is made. Please allow 24 hours for a
                    candidate to respond to your invitation. If there is no response, you may consider this as a decline and consideration
                    should be given to the remaining candidates.
                    <br />

                    Please ensure the interview process is completed within a  <b> 3-5 days </b>period.
                    Once you have selected a candidate and the candidate has accepted, please enter the LTO Application and "recommend hire".
                    This will generate pay for the successful candidate.
                    <br />

                    If you have any questions, please contact [PositionOwnerSTR]

                    <br />
                    <br />
                    <table border="1" style="width:750px">
                        <tr>
                            <td style="width:160px">Posting Number:</td>
                            <td style="width:150px">[PostingNumberSTR]</td>
                            <td style="width:150px">Posting Round:</td>
                            <td style="width:80px">[PostingCycleSTR]</td>
                            <td style="width:70px;text-align:right;">BTC:</td>
                            <td style="width:100px">[BTCSTR]</td>

                        </tr>
                        <tr><td>Position Title:         </td><td colspan="5">[PositionTitleSTR]       </td></tr>
                        <tr><td>Position Description:   </td><td colspan="5">[PositionDescriptionSTR] </td></tr>
                        <tr><td>Position Start Date:    </td><td colspan="5">[PositionStartDateSTR]   </td></tr>
                        <tr><td>Position End Date:      </td><td colspan="5">[PositionEndDateSTR]     </td></tr>
                        <tr><td>Position School:        </td><td colspan="5">[SchoolNameSTR]          </td></tr>
                        <tr><td>Teacher be replaced:    </td><td colspan="3">[TeacherBeReplacedSTR]   </td> <td>Person ID:</td><td> [PIDSTR] </td></tr>
                    </table>


                    <br />
                    <br />
                    [timeTable]
                    [multiSchool]
                    <br />


                </div>



                <br />
                <br />

                <br />
                Academic Services:<br />
                <br />
                <br />
                [DateTimeSTR]
                <br />
                <br />
                <!-- <span style="font-size: 10pt">Note: Please reply back!.</span></td>-->
                <br />
                [EmailTOSTR]
                <br />
                [EmailCCSTR]
                <br />
                [EmailBCCSTR]
            </td>
        </tr>

    </table>




</body>
</html>
