<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Re posting Notification </title>
</head>
<body>
    <table id="tblContent" style="width: 750px; border: outset lightgrey 0pt">
        <tr>
            <td>
                <div style="text-align: center">
                    <h2> Reposting Position Notification </h2>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="EmailBody">
                    Dear   <span style="font-weight: bolder">[PrincipalNameSTR]  </span>:
                    <br /> <br />
                    Please note your posting for (
                    <span style="text-decoration: underline; font-weight: bolder">[PositionTitleSTR] </span>
                    ) has expired.
                    Regrettably there were no interested candidates from the Long Term Occasional Teachers List
                    who applied to the LTO assignment in the first publication of the posting.
                    Therefore, consistent with Regulation 274/12, the LTO assignment is being re-posted.
                    Occasional Teachers on the Roster may now apply.
                    <br />
                    If you have any questions, please contact Jelena Malenica of our Recruitment Department at ext. 5340
                    <br />
                    <table border="1" style="width:750px">
                        <tr>
                            <td style="width:160px">Posting Number:</td>
                            <td style="width:150px">[PostingNumberSTR]</td>
                            <td style="width:150px"> </td>
                            <td style="width:150px;text-align:right;">BTC:</td>
                            <td style="width:150px">[BTCSTR]</td>
                        </tr>
                        <tr><td>Position Title:         </td><td colspan="4">[PositionTitleSTR]       </td></tr>
                        <tr><td>Position Division:      </td><td colspan="4">[PositionLevelSTR]       </td></tr>
                        <tr><td>Position Description:   </td><td colspan="4">[PositionDescriptionSTR] </td></tr>
                        <tr>
                            <td>Position   </td>
                            <td style="text-align:right;">Start Date:</td>
                            <td>[PositionStartDateSTR] </td>
                            <td style="text-align:right;">End Date:</td>
                            <td>[PositionEndDateSTR] </td>
                        </tr>
                        <tr>
                            <td>Position Posting </td>
                            <td style="text-align:right;">Open Date:</td>
                            <td>[PostingOpenDateSTR] </td>
                            <td style="text-align:right;">Close Date:</td>
                            <td>[PostingCloseDateSTR] </td>
                        </tr>
                        <tr><td>Position School:        </td><td colspan="4">[SchoolNameSTR]          </td></tr>
                        <tr><td>Teacher be replaced:    </td><td colspan="2">[TeacherBeReplacedSTR]   </td> <td>Person ID:</td><td> [PIDSTR] </td></tr>
                    </table>
                    <br />   <br />
                    [timeTable]
                    [multiSchool]
                    <br />
                </div>
                <div>
                    [InterviewCandidateListSTR]
                </div>
                <br /><br /> 
                Academic Services:  <br />
                [DateTimeSTR]<br /> <br /> <br />
                {{EmailTOSTR}} <br />
                {{EmailCCSTR}} <br />
                {{EmailBCCSTR}} <br />
            </td>
        </tr>
    </table>
</body>
</html>
