<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CAll Back Request posting Notification </title>
</head>
<body>


    <table id="tblContent" style="width: 750px; border: outset lightgrey 0pt">
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>

                <div id="EmailBody">
                    Dear   <span style="font-weight: bolder">[HRStaffNameSTR]  </span>:
                    <br />
                    <br />

                    I have revoke the posting request for:  <br /> <br />
                    <table border="1" style="width:750px">
                        <tr><td style="width:200px"></td><td style="width:500px"></td></tr>
                        <tr> <td> Position School: </td><td><span style="text-decoration: underline; font-weight:bolder">[SchoolNameSTR]</span></td></tr>
                        <tr> <td> Assignment:</td><td><span style="text-decoration: underline; font-weight:bolder">[PositionDateSTR]</span></td></tr>
                        <tr> <td>Grade or Subject Area: </td><td><span style="text-decoration: underline; font-weight:bolder">[PositionTitleSTR] </span></td></tr>
                        <tr> <td>Position Description:  </td><td><span style="text-decoration: underline; font-weight: bolder">[PositionDescriptionSTR]</span></td></tr>
                        <tr> <td>Teacher being Replaced: </td><td><span style="text-decoration: underline; font-weight:bolder">[TeacherbeingReplacedSTR] </span></td></tr>
                        <tr> <td> Reason for replacement:</td><td><span style="text-decoration: underline; font-weight:bolder">[ReasonforReplacementSTR] </span></td></tr>
                        <tr> <td>Qualification Required:</td><td><span style="text-decoration: underline; font-weight:bolder">[QualificationRequiredSTR] </span></td></tr>
                        <tr> <td>Assignment Start Date:</td><td><span style="text-decoration: underline; font-weight:bolder">[AssignmentStartDateSTR] </span></td></tr>
                        <tr> <td>Assignment End Date:</td><td><span style="text-decoration: underline; font-weight:bolder">[AssignmentEndDateSTR] </span></td></tr>

                    </table>


                    <br />
                    <br />

                    Pease disregards this posting request
                    <br />
                    <br />
                    Sincerely <br /> <br /><br />


                    <span style="text-decoration: underline; font-weight:bolder">[PrincipalNameSTR]</span> <br />


                    <br />

                </div>

                <br />

                <br />

                <br />
                <br />  Academic Services:
                <br />
                [DateTimeSTR]<br />
                <br />
                <!-- <span style="font-size: 10pt">Note: Please reply back!.</span></td>-->
                [EmailTOSTR]
                <br />
                [EmailCCSTR]

                <br />
                [EmailBCCSTR]
            </td>
        </tr>

    </table>




</body>
</html>
