<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Posting Notification </title>
</head>
<body>
    <table id="tblContent" style="width: 750px; border: outset lightgrey 0pt">
        <tr>
            <td>
                <div style="text-align: center">
                    <h2> Permanent Open Position Posting Notification </h2>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="EmailBody">
                    Do Not Reply This Email Please !   <br /> <br />
                    Dear   <span style="font-weight: bolder">[PrincipalNameSTR]  </span>:
                    <br /> <br />
                    We are in receipt of your request to post the
                    <span style="text-decoration: underline; font-weight: bolder">[PositionTitleSTR] ( [BTCSTR] ) </span>
                    open position.
                    This assignment will be posted for 3 days. On day 4,
                    you will receive a list of candidates to interview.
                    The three most senior applicants shall be contacted and asked to confirm that they wish to be considered for the position.
                    <b> The candidate should be able to provide you with an immediate response. </b>
                    If any of the three applicants indicate that they do not wish to be considered,
                    please reach out to Academic Services who will provide you with <b> the next most senior candidate to be considered.</b>
                    <br />
                    Once you have selected a candidate and the candidate has accepted, please enter the POP Platform and "recommend hire".
                    This will generate the transfer of the successful candidate to your school.
                    <br />
                    If you have any questions, please contact [PositionOwnerSTR]
                    <br /> <br />
                    Publish Date: [PostingPublishDateSTR] <br />
                    <table border="1" style="width:750px">
                        <tr>
                            <td style="width:160px">Posting Number:</td>
                            <td style="width:150px">[PostingNumberSTR]</td>
                            <td style="width:150px"> </td>
                            <td style="width:150px;text-align:right;">BTC:</td>
                            <td style="width:150px">[BTCSTR]</td>
                        </tr>
                        <tr><td>Position Title:         </td><td colspan="4">[PositionTitleSTR]       </td></tr>
                        <tr><td>Position Division:      </td><td colspan="4">[PositionLevelSTR]       </td></tr>
                        <tr><td>Position Qualification: </td><td colspan="4">[QualificationSTR]       </td></tr>
                        <tr><td>Position Description:   </td><td colspan="4">[PositionDescriptionSTR] </td></tr>
                        <tr>
                            <td>Position   </td>
                            <td style="text-align:right;">Start Date:</td>
                            <td colspan="3">[PositionStartDateSTR] </td>
                        </tr>
                        <tr>
                            <td>Position Posting </td>
                            <td style="text-align:right;">Open Date:</td>
                            <td>[PostingOpenDateSTR] </td>
                            <td style="text-align:right;">Close Date:</td>
                            <td>[PostingCloseDateSTR] </td>
                        </tr>
                        <tr><td>Position School: </td><td colspan="4">[SchoolNameSTR]</td></tr>
                    </table>
                    <br /><br />
                    [timeTable]
                    [multiSchool]
                    <br />
               </div>
                <br /><br />
                Academic Services:<br />
                <br /><br />
                [DateTimeSTR]                 <br />
                To be published: [PostingPublishDateSTR] <br />
                <br /> <br />
                {{EmailTOSTR}} <br />
                {{EmailCCSTR}} <br />
                {{EmailBCCSTR}} <br />
            </td>
        </tr>
    </table>
</body>
</html>
