<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Reminder to complete LTO/POP Position hiring process </title>
</head>
<body>


    <table id="tblContent" style="width: 950px; border: outset lightgrey 0pt">
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>


                <div style="text-align: center">
                    <h3>Reminder to complete LTO/POP Position hiring process</h3>
                </div>
                <div id="EmailBody">
                    Dear   <span style="text-decoration: underline; font-weight: bolder">[PrincipalNameSTR]  </span>:
                    <br />
                    <br />


                    <br />



                    This is a gentle reminder to please confirm the hire of the [PositionTypeSTR] assignment indicated
                    below on the [PositionTypeSTR] Application Site.  Confirming the hire on the [PositionTypeSTR] application site
                    will finalize the LTO and generate the occasional teacher`s pay.
                    <br />
                    <br />
                    <br />

                    Thank you.






                    <br />
                    <br />
                    *  Position Title: <span style="text-decoration: underline; font-weight:bolder">[PositionTitleSTR] </span><br />
                    *  Position Description: <span style="text-decoration: underline; font-weight: bolder">[PositionDescriptionSTR]</span> <br />
                    *  Position Date: <span style="text-decoration: underline; font-weight:bolder">[PositionDateSTR]</span><br />
                    *  Position School: <span style="text-decoration: underline; font-weight:bolder">[SchoolNameSTR]</span> <br />

                    <br />
                    <br />

                </div>
                <!-- <div style="text-align: center">
        <h3> Interview Candidate List  </h3>
    </div>-->


                <br />

                <br />
                LTO/POP Hiring Process Emailing System.<br />
                <br />
                [DateTimeSTR]<br />
                <br />
                <!-- <span style="font-size: 10pt">Note: Please reply back!.</span></td>-->
                <br />
                {{EmailTOSTR}} <br />
                {{EmailCCSTR}} <br />
                {{EmailBCCSTR}} <br />

            </td>
        </tr>

    </table>




</body>
</html>
