<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Request More Interview Candidate </title>
</head>
<body>


    <table id="tblContent" style="width: 950px; border: outset lightgrey 0pt">
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>


                <div style="text-align: center">
                    <h2>Request More Interview Candidates List </h2>
                </div>
                <div id="EmailBody">
                    Dear   <span style="font-weight: bolder">[HRStaffNameSTR]  </span>:
                    <br />
                    <br />

                    We need  <span style=" font-weight: bolder">[InterviewCountSTR]  </span>
                    more interview candidate(s) for the following open position

                    <br />
                    <br />
                    <table border="1" style="width:750px">
                        <tr>
                            <td style="width:160px">Posting Number:</td>
                            <td style="width:150px">[PostingNumberSTR]</td>
                            <td style="width:150px"> </td>
                            <td style="width:80px">[PostingCycleSTR]</td>
                            <td style="width:70px;text-align:right;">BTC:</td>
                            <td style="width:100px">[BTCSTR]</td>

                        </tr>
                        <tr><td>Position Title:         </td><td colspan="5">[PositionTitleSTR]       </td></tr>
                        <tr><td>Position Description:   </td><td colspan="5">[PositionDescriptionSTR] </td></tr>
                        <tr><td>Position Start Date:    </td><td colspan="5">[PositionStartDateSTR]   </td></tr>
                        <tr><td>Position End Date:      </td><td colspan="5">[PositionEndDateSTR]     </td></tr>
                        <tr><td>Position School:        </td><td colspan="5">[SchoolNameSTR]          </td></tr>
                        <tr><td>Teacher be replaced:    </td><td colspan="3">[TeacherBeReplacedSTR]   </td> <td>Person ID:</td><td> [PIDSTR] </td></tr>
                    </table>

                    <br />
                    <br />
                    [NotSuitableSelectedSTR]
                    <br />
                    <br />
                    <span style=" font-weight: bolder">[UserNameSTR]  </span>:

                    <br />
                    <br />
                    <br />
                </div>
                <!-- <div style="text-align: center">
         <h3> Interview Candidate List  </h3>
     </div>-->
                <div>

                    [InterviewCandidateListSTR]

                </div>
                <br />

                <br />

                <br />
                LTO/POP Hiring Process Emailing System.<br />
                <br />
                [DateTimeSTR]<br />
                <br />
                <!-- <span style="font-size: 10pt">Note: Please reply back!.</span></td>-->

                <br />
                [EmailTOSTR]
                <br />
                [EmailCCSTR]


            </td>
        </tr>

    </table>




</body>
</html>
