<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Request New posting Notification </title>
</head>
<body>


    <table id="tblContent" style="width: 750px; border: outset lightgrey 0pt">
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>

                <div id="EmailBody">
                    Dear   <span style="font-weight: bolder">[HRStaffNameSTR]  </span>:
                    <br />
                    <br />
                    I have created a new posting request for a Permanent Open Position.   The request details are below:  <br /> <br />
                    <table border="1" style="width:750px">
                        <tr><td style="width:200px"> Request Number:</td><td style="width:300px"><span>[RequestNumberSTR]</span></td><td style="width:100px">  BTC(%) </td><td style="width:100px"><span>[BTCSTR]</span></td></tr>
                        <tr> <td> Position School: </td><td colspan="3"><span>[SchoolNameSTR]</span></td></tr>
                        <tr> <td> Assignment:</td><td colspan="3"><span>[PositionTitleSTR]</span></td></tr>
                        <tr> <td> Grade Level: </td><td colspan="3"> <span>[GradeRequiredSTR]</span></td></tr>
                        <tr> <td> Qualification Area: </td><td colspan="3"> <span>[QualificationRequiredSTR]</span></td></tr>
                        <tr> <td> Position Description:  </td><td colspan="3"><span>[PositionDescriptionSTR]</span></td></tr>
                        <tr> <td> Teacher being Replaced: </td><td colspan="3"><span>[TeacherbeingReplacedSTR] </span></td></tr>
                        <tr> <td> Reason for replacement:</td><td colspan="3"><span>[ReasonforReplacementSTR] </span></td></tr>
                        <tr> <td> Assignment Start Date:</td><td colspan="3"> <span>[AssignmentStartDateSTR] </span></td></tr>
                        <tr> <td> Assignment End Date:</td><td colspan="3">    <span>[AssignmentEndDateSTR] </span></td></tr>

                    </table>


                    <br />
                    <br />


                    <br />
                    <br />
                    Sincerely <br /> <br /><br />


                    <span>[PrincipalNameSTR]</span> <br />


                    <br />

                </div>


                <br />
                <br />

                <br />
                This email was sent from the LTO application by the school principal to Academic Service for posting.<br />
                <br />
                [DateTimeSTR]<br />
                <br />
                <!-- <span style="font-size: 10pt">Note: Please reply back!.</span></td>-->
                <br />
                {{EmailTOSTR}} <br />
                {{EmailCCSTR}} <br />
                {{EmailBCCSTR}} <br />

            </td>
        </tr>

    </table>




</body>
</html>
