<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Interview Signature link on Mobile Phone </title>
</head>
<body>


    <table id="tblContent" style="width:480px; border: outset lightgrey 0pt">
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>


                <div style="text-align: center">
                    <h3>   Interview H.M.40 Signature Link  </h3>
                </div>
                <div id="EmailBody">


                    Dear   <span style="font-weight:bolder">[PrincipalNameSTR]</span>:
                    <br />
                    <div>
                        <p> You have selected as an interview on the position list below </p>
                        <br />
                        *  Posting Number: <span style="text-decoration: underline; font-weight:bolder">[PostingNumberSTR] </span><br />
                        *  Position Title: <span style="text-decoration: underline; font-weight:bolder">[PositionTitleSTR] </span><br />
                        *  Position Description: <span style="text-decoration: underline; font-weight: bolder">[PositionDescriptionSTR]</span> <br />
                        *  Position School: <span style="text-decoration: underline; font-weight:bolder">[SchoolNameSTR]</span> <br />
                        *  Teacher being Replaced: <span style="text-decoration: underline; font-weight:bolder">[TeacherBeReplacedSTR]</span> <br />

                        <br />
                        <p> Please click on the below link on your mobile phone to sign off the FAIR PRACTICE IN HIRING AND PROMOTION H.M.40.</p>
                        [appicationLinkSTR]


                    </div>
                    <br />



                </div>


                <br />
                {{EmailTOSTR}}
                <br />
                {{EmailCCSTR]}}

                <br />
                {{EmailBCCSTR}}

                <br />
                <br />

                <br />
                LTO/POP Hiring Process Emailing System.<br /> <br />
                [DateTimeSTR]<br />
                <br />
                <!-- <span style="font-size: 10pt">Note: Please reply back!.</span></td>-->

</tr>

    </table>




</body>
</html>

