body {
    height: 100%;
    width: 100%;
   /* background-image: url(../images/message_body_m.bmp);*/
}

td {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-small;
}

.editcell {
    background-color: papayawhip;
    font-family: Arial;
    font-size: x-small;
}

.DateCell input:focus {
    border: 2px dotted red;
}

.editcell, .editArea {
    border: 0px solid grey;
}

    .editcell:focus, .editArea:focus {
        border: 2px solid #0094ff;
        box-shadow: 0 0 0 3px rgba(24,117,255,0.25);
    }

.editcellLock {
    background-color: aliceblue;
    font-family: Arial;
    font-size: x-small;
    pointer-events: none;
    border: 0;
}

.editcellAllow {
    background-color: papayawhip;
    font-family: Arial;
    font-size: x-small;
}


.auto-style2 {
    height: 14px;
}

.auto-style3 {
    text-align: right;
    vertical-align: top;
    height: 14px;
}

.enabaledBton {
    display: block;
    cursor: pointer;
    margin: 0 auto;
}

.disabaledBton {
    opacity: 0.65;
    cursor: not-allowed;
}

#RepostingDIV {
    font-family: Arial;
    font-size: small;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
     border: 3px outset skyblue;
}

#lblNoticeDate {
    width: 123px;
}

#lblRemainderDate {
    width: 131px;
}

.ButonHidden {
    display: none;
}

.noWrap {
    text-wrap: avoid;
    text-align: right;
}

#F100TimeTable table, #F100MultipleSchool table {
    width: 100%;
}

#F100TimeTable td, #F100MultipleSchool td {
    border: 1px solid papayawhip;
}

#F100TimeTable th, #F100MultipleSchool th {
    font-weight: 800;
    border: 1px solid papayawhip;
}

.PositionDescription {
    border: 1px solid papayawhip;
}

.btnRadius {
    border: 2px solid #0094ff;
    border-radius: 7px;
    cursor: default;
    margin-left:10px;
    margin-right:10px;
}

    .btnRadius:hover {
        box-shadow: 0 0 0 3px rgba(24,117,255,0.25);
    }

    .btnRadius:focus {
        border: 2px solid #0094ff;
        border-radius: 7px;
    }

.cursorDefault {
    cursor: default;
}

.ButtonNormal
{
    margin-left:20px;
}
.action-button {
    border: 2px solid dodgerblue;
    text-align: center;
    outline: 0;
    border-radius: 9px;
    height: 25px;
}

    .action-button:hover {
        filter: contrast(200%);
        border: 2px solid #0094ff;
        box-shadow: 0 0 0 3px rgba(24,117,255,0.25);
        cursor:pointer;
    }

.Edit-Content-Control {
    border: 1px solid grey;
    background-color: cornsilk;
}

    .Edit-Content-Control:hover {
        border-radius: 7px;
        filter: contrast(200%);
        border: 2px solid #0094ff;
        box-shadow: 0 0 0 3px rgba(24,117,255,0.25);
    }


.Edit-Content-Control-Readonly {
    border: 1px solid grey;
}

    .Edit-Content-Control-Readonly:hover {
        border-radius: 7px;
        filter: contrast(200%);
        border: 2px solid #0094ff;
        box-shadow: 0 0 0 3px rgba(24,117,255,0.25);
    }

.Edit-Content-CheckBox {

}
    .Edit-Content-CheckBox:hover {
        border-radius: 7px;
        filter: contrast(200%);
        border: 1px solid #0094ff;
        box-shadow: 0 0 0 2px rgba(24,117,255,0.25);
    }

#cblQualification label:hover {
    border-radius: 3px;
    border: 2px solid #0094ff;
    box-shadow: 0 0 0 2px rgba(24,117,255,0.25);
}