body {
    height: 100%;
    width: 100%;
    background-image: url(../images/message_body_m.bmp);
}

table {
    height: 100%;
    width: 100%;
}

td {
    font-family: Arial, sans-serif;
    font-size: x-small;
}


table tbody tr:nth-child(odd) {
    background-color: aliceblue;
}

.loading {
    font-size: large;
}

#GridView1 tr:hover {
    background: CornflowerBlue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(CornflowerBlue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(CornflowerBlue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(CornflowerBlue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(CornflowerBlue, white); /* Standard syntax */
    color: purple;
}
#GridView1 td {
    border: 1px solid #e1d9d9;
}


#GridView3 td {
    border: 1px solid #e1d9d9;
}
#GridView2 th {
    border: 1px solid #e1d9d9;
}

#DivRoot {
    width: 99.9%;
    height: 100%;
    overflow:auto;
}
 


#btnSearch, #btApplicant, #Button1, .GoButton {
    background-color: dodgerblue;
    color: white;
    font-weight: 600;
    height: 22px;
    width: 40px;
}
