<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="Application" value="LTO"/>
    <add key="ApplicationName" value="LTO Assignments"/>
    <add key="DefaultPage" value="Page"/>
    <add key="Registry" value="Registry"/>
    <add key="DataSource" value="Class"/>
    <add key="ReportSource" value="WebService"/>
    <add key="AuthenticateService" value="http://webs/AuthenticationWS/Authenticate.asmx"/>
    <add key="AuthenticateMethod" value="NameOnly"/>
    <add key="SorryNoP" value="You do not have permission to run this application."/>
    <add key="LoginMessage" value="Error Authenticating. Error authenticating user. Logon failure: unknown user name or bad password"/>
    <add key="LoginMessageDB" value="Error Login Database. Connect to Database failure: Login Count or Return Data Error."/>
    <add key="CohortChartNum" value="4"/>
    <add key="DefaultComments" value="Yes"/>
    <add key="Summative" value="SummativeEXP"/>
    <add key="errorPage" value="../CommonPages/errorF.aspx"/>
    <add key="errorStore" value="NoNSMTP"/>
    <add key="CreateErrorPage" value="Yes"/>
    <add key="K_12School" value="0556,0524,0518"/>
    <add key="AppStartDate" value="2017/06/20"/>
    <add key="AppStartDateLTO" value="2018/08/14"/>
    <add key="AppStartDatePOP" value="2018/06/30"/>

    <add key="ElementaryPanel" value="02,03,04"/>
    <add key="ApplicationModel" value="ProductionCheck"/>
    <add key="DocumentLink" value="https://webapp.tcdsb.org/WebDocuments/Documents/LTO/"/>
    <add key="AppsInfoLink" value="http://webt01.tcdsb.org/QA/AppsInfo/Default.aspx"/>
    <add key="ReportingService" value="http://webservice.tcdsb.org/ReportServer/ReportExecution2005.asmx"/>
    <add key="ReportServer" value="http://webservice.tcdsb.org/ReportServer"/>
    <add key="WebServiceUser" value="service_cecweb"/>
    <add key="WebServiceWP" value="$C3C@W3b#"/>
    <add key="ReportPath" value="?%2fLTO_Report%2f"/>
    <add key="ReportPathWS" value="/LTO_Report/"/>
    <add key="ReportPathHTML" value="?%2fSES_Reports%2fIEP%2f"/>
    <add key="ReportFormat" value="PDF"/>

    <add key="HM31" value="https://www.tcdsb.org/Board/Policies/Pages/HM31.aspx"/>
    <add key="HM40" value="https://www.tcdsb.org/Board/Policies/Pages/HM40.aspx"/>

    <add key="MobileSiteGo" value="https://webt.tcdsb.org/qt/LTO/LTOPrincipals/LoadingP.aspx"/>

    <add key="AttachmentFolder" value="Attfiles"/>
    <add key="iConFile" value="./images/"/>
    <add key="TrafficLog" value="1"/>
    <add key="LDAP" value="LDAP://tcdsb.org/DC=tcdsb,DC=org"/>

    <add key="LDAP1" value="LDAP://10.1.0.5:389"/>
    <add key="SMTPServer" value="intramail.tcdsb.org"/>

    <!--<add key="eMailSender" value="LTO/POP-Admin@tcdsb.org" />-->

    <add key="PostingNoticeBegin" value="1"/>
    <add key="PrincipalEmailNotice" value="Yes/No"/>
    <add key="PrincipalRequestLTO" value="Yes"/>

    <add key="eMailTry" value="Test"/>
    <add key="eMailTitle" value=""/>
    <add key="eMailTO" value=""/>
    <add key="eMailToCheck" value="margherita.difonzo@tcdsb.org"/>
    <add key="LTOadminFolder" value="lto.admin@tcdsb.org"/>
    <add key="eMailSender" value="LTOPOP.Admin@tcdsb.org"/>


    <add key="HRUser_LTO_Default" value="frijiom"/>
    <add key="HRUser_POP_E_Default" value="krasnor"/>
    <add key="HRUser_POP_S_Default" value="boreanf"/>


    <add key="eMailToCheck" value="margherita.difonzo@tcdsb.org"/>
    <add key="LTOadminFolder" value="lto.admin@tcdsb.org"/>
    <add key="eMailSender" value="LTOPOP.Admin@tcdsb.org"/>
    <add key="HRUser_LTO_Default" value="frijiom"/>
    <add key="HRUser_POP_E_Default" value="krasnor"/>
    <add key="HRUser_POP_S_Default" value="boreanf"/>
    <add key="eMail_Union" value=""/>
    <add key="eMail_UnionA" value="mary.frijio@tcdsb.org"/>
    <add key="eMail_UnionE" value="info@tect.org"/>
    <add key="eMail_UnionS" value="tsuot@tsuoecta.org"/>
    <add key="eMailCC" value=""/>
    <add key="eMailCC_CancelFollower" value="mary.frijio@tcdsb.org"/>
    <add key="eMailCC_ConfirmHire_LTO" value="mary.frijio@tcdsb.org"/>
    <add key="eMailCC_ConfirmHire_LTO_E" value="angie.roman@tcdsb.org"/>
    <add key="eMailCC_ConfirmHire_LTO_S" value=""/>

    <add key="eMailCC_ConfirmHire_POP" value="margherita.difonzo@tcdsb.org"/>
    <add key="eMailCC_ConfirmHire_POP_E" value="angie.roman@tcdsb.org"/>
    <add key="eMailCC_ConfirmHire_POP_S" value=""/>

    <add key="eMailCC_LTO" value="mary.frijio@tcdsb.org"/>
    <add key="eMailCC_LTO_E" value=""/>
    <add key="eMailCC_LTO_S" value=""/>
    <add key="eMailCC_POP" value="joanne.ruscica@tcdsb.org"/>
    <add key="eMailCC_POP_E" value="joanne.ruscica@tcdsb.org"/>
    <add key="eMailCC_POP_S" value="fiorella.borean@tcdsb.org"/>
    <add key="eMailCC_French" value="joanne.malenica@tcdsb.org"/>
    <add key="eMailCC_French1" value=""/>
    <add key="eMailCC_French_E" value="angela.ramos@tcdsb.org"/>
    <add key="eMailCC_French_S" value="maria.marchetta@tcdsb.org"/>
    <add key="eMailCC_DHH" value="Andrea.Coke@tcdsb.org"/>
    <add key="eMailCC_Music" value=""/>
    <!--<add key="eMailCC_Music" value="mireya.martin@tcdsb.org"/> remove by Frank request by Mary at 2018/08/21 -->
    <add key="eMailCC_4th" value="maria.marchetta@tcdsb.org"/>
    <add key="eMailCC_4th_E" value="joanne.ruscica@tcdsb.org"/>
    <add key="eMailCC_4th_S" value="joanne.malenica@tcdsb.org"/>


    <add key="User_4thRound" value="malenij,mif,marchem,ferreia05,ramosa"/>

    <add key="User_4thRound" value="malenij,mif,marchem,ferreia05"/>

    <add key="eMailBCC" value=""/>

    <add key="HM40" value="Pass"/>
    <add key="eMailFooter"/>
    <add key="eMailTemplate" value="c:/Application_Web/Template"/>
    <add key="RapidKeyActiveOrigal" value="OkEoT2IrRUBFL0xETUxINWttck1LOFlRYT8sRUZGSkY="/>
    <add key="RapidKey" value="277577257E7D7B217D2A7B7B51514D4F243B3B3B393D3F413D43434341454749436C5C5E6E493"/>
    <add key="RapidKeyNoLimited" value="277577257E7D7B217D2A7B7B51514D4F243B3B3B393D3F413D43434341454749436C5C5E6E493"/>
    <add key="PrincipalQuikLink" value="No"/>
    <add key="TaxonomyWebService.TaxonomyClientService" value="http://www.tcdsb.org/_vti_bin/TaxonomyClientService.asmx"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
